@tailwind base;
@tailwind components;
@tailwind utilities;
@import './react-datetime.css';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--header-height: 70px;
	--header-height-sm: 60px;
	--side-menu-width: 300px;
	--side-menu-width-md: 160px;
	--side-menu-width-sm: 67px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	box-sizing: border-box;
}

@layer component {
	._flex-center {
		@apply flex items-center justify-center;
	}
	._pos-center {
		@apply top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
	}
}
